html,body{
    margin: 0 auto;
    width: 100%;
    padding: 0;
    background-color: #303030;
    color: white;
    max-width: 1380px;
    font-family: "Work Sans", sans-serif;
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 85%;
    margin: 0 auto;
    color: tomato;
}
nav .logo-name{

    font-size: 36px;
    font-weight: bold;
    font-style: italic;
}

nav .nav-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    list-style: none;
    gap: 30px;
    border: 0.8px solid rgba(255, 255, 255, 0.5);
    border-radius: 25px;
    padding: 0;


}

nav .nav-list a{
    text-decoration: none;
    font-size: 16px;
    color: white;
}
nav .nav-list li{
    padding: 10px 20px;
    border-radius: 25px;
}

nav .nav-list li:first-child{
    background-color: tomato;
    
}


.container, .banner .banner-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 85%;
    margin: 0 auto;
}

.banner{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to top, #000, transparent);
}
.banner .banner-text .main-text{
    font-size: 72px;
    font-weight: bold;
    color: white;
    width: 60%;
    margin-bottom: 0;
}

.banner .banner-text .main-text span{

  font-family: "Arizonia", cursive;
}

.banner .banner-text .description{
    font-size: 16px;
    font-weight: 300;
    color: white;
    opacity: 0.8;
    width: 60%;
}

.banner .banner-image{
    width: 50%;
    height: 600px;
    background-image: url("/images/Image1.png");
    background-repeat: no-repeat;
}

.banner .banner-image .box{
 width: 180px;
     background: rgba(255, 255, 255, 0.2); /* Semi-transparent background */
    backdrop-filter: blur(10px); /* Apply blur effect */
    -webkit-backdrop-filter: blur(10px); /* For Safari support */
    border-radius: 10px; /* Optional: rounded corners */
    padding: 20px;


}

.banner-image .box .numbers{
    font-size: 40px;
    font-weight: bold;
    color: white;
    margin: 0;
}
.banner-image .box .description{
    font-size: 16px;
    font-weight: 700;
    color: white;
    opacity: 0.8;
    margin: 0;
}
.box-1{
    transform: translate(210px, 120px);

}
.box-2{
    transform: translate(-124px, 300px);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.box-2 .circle{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: tomato;
}



.banner .buttons{
    display: flex;
    align-items: center;
    gap: 20px;
}

.banner .buttons .btn{
    padding: 15px 25px;
    border-radius: 25px;
    border: 1px solid rgba(255, 255, 255, 0.432);
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    transition: all 0.3s ease;

}

.banner .buttons .btn-primary{
    background-color: tomato;
    color: white;
    border: none;
}

.banner .buttons .btn-secondary:hover{
    background-color: tomato;
    color: white;

}

.banner .buttons .btn-primary:hover{
    outline: 1px solid rgba(255, 255, 255, 0.432);
    background-color: transparent;
    color: tomato;
}
@media screen and (max-width: 570px){
    nav .logo-name{
        font-size: 24px;
    }
    nav .nav-list{
        display: none;
    }
    nav .menu-icon{
        display: block !important;
        font-size: 30px;
        color: white;
    }
}